<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lrs.hsbte">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hsbte">
        <activity android:name=".QueMain2"></activity>
        <activity android:name=".Select" />
        <activity android:name=".Acc" />
        <activity android:name=".QueMain" />
        <activity android:name=".admina" />
        <activity android:name=".Final" />
        <activity android:name=".csem" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9601906684931747~4334097459" />

        <activity android:name=".MainActivity" />
        <activity android:name=".que" />
        <activity android:name=".Help" />
        <activity android:name=".start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>